
.bigcardbutton
{
    position:relative;
    bottom: 0;
    left: 0;
    
}
.visitbutton
{
    position: absolute;
    right: 0;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: white;
    transition: 0.4s ease-out;
    
}
.visitbutton:hover
{
    background-color: white;
    color: black;
    transition: 0.4s ease-out;
}
.bigcard
{
    border-radius: 30px;
    border: none;

}



