.smallcardhover
{
    position: relative;
    transition: 0.4s ease-in;
    border: none;
}


.smallcardhover:hover
{
    transform: scale(1.07);
    transition: 0.4s ease-out;
}
.smallcardwhite
{
    background-color: rgb(156, 156, 156);
     position: absolute;
     opacity: 0;
}

.smallcardwhite:hover
{
    opacity: 0.3;
}