.login_form
{
    /* width: 500px;
    height: 650px; */
    /* margin-left: 25%;*/
    margin-bottom: 80px; 
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* background-color: rgb(200, 200, 200); */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 1px 5px 20px rgb(238, 238, 238) ;
}
.input_form
{
    
    display: block;
    padding: 8px;
    /* width: 440px; */
    border-radius:20px;
     border:none;
     transition: 0.4s ease-out;
     background-color:rgb(252, 249, 252)
}
.input_form:hover
{
    transform: scale(1.05);
    transition: 0.4s ease-in;
    box-shadow: 1px 5px 20px rgb(252, 249, 252) ;
}
.submit_login
{
    transition: 0.4s ease-out;
    border:none;
    border-radius:20px;
    /* width: 440px; */
    color: rgb(255, 255, 255);
    background-color:rgb(255, 151, 151)
}
.login_text
{
    color: rgb(40, 152, 251);
}
.login_head
{
    color:rgb(255, 174, 0)
}
.submit_login:hover
{
    transform: scale(1.1);
    transition: 0.4s ease-in;
    box-shadow: 1px 5px 20px rgb(255, 151, 151) ;
}
.login_warning
{
    font-size: 10px;
    color:rgb(233, 85, 85);
}